/*This is my 201 Contact Web Page Project using Eric Meyer's reset at the top of my page -- your CSS starts on line 56 */



/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* ---------- This is the beginning of my 201 Contact Web Page Project ------------ */

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-image: url("images/golden_gate_bridge.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  text-align: center;
	
}

.center {
	width: 50%;
    min-width: 200px; /*these are for responsiveness and also ensure that center div isn't incredibly small (minimum size*/
    padding: 2%;
    margin: 100px auto;
    background: rgba(19, 169, 233, 0.75); /*changed the color to better fit image*/
    text-align: center;
    border: 10px solid rgb(230, 230, 230); /*found a better type of css border style called "ridge," which looks better than dashed for my design*/

    animation: fadeIn 5s;
    -webkit-animation: fadeIn5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-zoom-animation: fadeIn 5s;

}
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@-moz-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@-o-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@-ms-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
	  
	

   
#logo {
	width: 15%;
	min-width: 150px;
	/* these make it so logo is responsive, but never goes under 150 pixels wide which is when it stops being responsive */
    margin-top: 20px;
	text-align: center;
}

h1 {
	font-family: "gimlet-sans-variable", sans-serif, bold;
	font-size: 3em;
	font-variation-settings: "slnt" 0, "wght" 700, "opsz" 40;
	/* this is making the font title bolder*/
	line-height: 1;
	padding: 5px 0px 0px 0px;
    margin: 0px auto 10px auto;
    color: #000000;
	text-shadow: 2px 1px #000000;

}

h2 {
	font-family: "gimlet-sans-variable", sans-serif, bold;
	font-size: 2em;
	font-variation-settings: "slnt" 0, "wght" 400, "opsz" 40;
	line-height: 2;
	padding: 5px 0px 0px 0px;
    margin: 0px auto 50px auto;
    color: white;
	text-shadow: 2px 1px #000000;
}

nav {
	font-family:"gimlet-sans-variable", sans-serif;
	font-size:1.2em;
	width: 100px;
	font-variation-settings: "slnt" 0, "wght" 400, "opsz" 40;
	margin: 0 auto;
	border: solid rgb(114, 243, 230);
	border-width: 2px 0;
	text-align: center;
	margin-top: 1em;

}

nav {
	margin: 27px auto 0;
	position: relative;
	width: 500px;
	height: 50px;
	background-color: #213243;
	border-radius: 10px;
	font-size: 0;
}
nav a {
	line-height: 50px;
	height: 100%;
	font-size: 15px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
	cursor: pointer;

}
nav .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 8px;
}
a:nth-child(1) {
	width: 125px;
}
a:nth-child(2) {
	width: 220px;
}
a:nth-child(3) {
	width: 125px;
}
nav .start-home, a:nth-child(1):hover~.animation {
	width: 30%;
	left: 0;
	background-color: #1abc9c;
	opacity: 80%;
}
nav .start-about, a:nth-child(2):hover~.animation {
	width: 40%;
	left: 150px;
	background-color: #e74c3c;
	opacity: 80%;
}
nav .start-blog, a:nth-child(3):hover~.animation {
	width: 30%;
	left: 350px;
	background-color: #3498db;
	opacity: 80%;
}
/* these above nav lines set the hovering color and animation, i had to mess with the width of each 
because i struggled to center it. so the behance one has a bigger hover animation but at least 
it centered! I also could not figure out how to make these responsive without messing up the 
proportions so it sticks out when you change window size, oops! */

h1 {
	text-align: center;
	margin: 40px 0 40px;
	text-align: center;
	font-size: 60px;
	color: #ecf0f1;
	text-shadow: 2px 2px 4px #000000;
	font-family: "gimlet-sans-variable", sans-serif;
}



p {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    color: #ecf0f1;
    font-family: "gimlet-sans-variable", sans-serif;
    font-size: 16px;
}

span {
    color: #2BD6B4;
}
    

